@mixin commonBtn {
  padding: 14px 28px;
  color: #fff;
  font-size: 18px;
  font-weight: $semiBold;
  font-family: $openSans;
  line-height: 200%;
  border: 1px solid #d6a033;
  transition: all linear 0.3s;
}
