// colors
$yellow: #d6a033;
$white: #fbfbfa;
$navLinkColor: #eff4fa;
$bannerWhiteColor: #f5f2eb;
$paragraphColor: #524d43;
$headingColor: #363024;
$footerColor: #fefefe;

// font-family
$openSans: "Open Sans", sans-serif;
$paprika: "Paprika", cursive;
$nunito: "Nunito", sans-serif;
$playfair: "Playfair Display", serif;

// font-weight
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
